{% extends "home/base.html" %} {% load static %} {% block content %}
<div class="welcome">
  <h1> <u>Welcome {{user}}</u> </h1>
</div>
<div class="top_middle_dash">
  <div class="Meetings">
    <h2>Meetings</h2>
    <h3>5</h3>
  </div>
  <div class="Projects">
    <h2>Projects</h2>
    <h3>5</h3>
  </div>
  <div class="Leave">
    <h2>Leave</h2>
    <h3>0</h3>
  </div>
</div>
<hr>
<div>
  <h2 class="staff_heading"><u>Upcoming Meetings</u></h2>
<table>
  <tr>
    <th>Agenda</th>
    <th>Leader</th>
    <th>Notes Taker</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
{% for meeting in meetings %}
  <tr>
    <td>{{meeting.agenda}}</td>
    <td>{{meeting.leader}}</td>
    <td>{{meeting.notes_taker}}</td>
    <td>{{meeting.start_time}}</td>
    <td>{{meeting.end_time}}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}
