body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif000;
  margin: 0%;
}
.main {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  gap: 4%;
}
.Navigation {
  height: 100vh;
  border-right: 5px solid #bb9140;
  text-align: justify;
}
.logo {
  width: auto;
  height: 100px;
}
.navTingz > li > a {
  color: #bb9140;
  text-decoration: none;
}
.navTingz > li > a:hover {
  border-left: 10px solid #bb9140;
  padding-left: 2%;
  font-weight: 800;
}
.navTingz > li {
  color: white;
  list-style: none;
  padding: 5%;
}
.welcome>h1{
  color:#D4B63E;
}
.center {
  background-color: white;
  padding: 4%;
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap:4%;
}
.center>div>div>h2{
  color:#D4B63E;
}
.staff_heading{
  color:#bb9140;
}
.project_details{
  display:grid;
  grid-template-columns: 1.5fr 2fr;
  margin-top:4%;
  padding:4%;
}
.project_details>div>h4{
  color:#D4B63E;
}
.project_details>div>h4>b{
  color:black;
}
.Meetings {
  border-radius: 4%;
  text-align: center;
  background-color: white;
}
.Meetings > h2 {
  color: #bb9140;
}
.Projects {
  border-radius: 4%;
  text-align: center;
  background-color: white;
}
.Projects > h2 {
  color: #bb9140;
}
a{
  text-decoration:none;
}
.Leave {
  border-radius: 4%;
  text-align: center;
  background-color: white;
}
.Leave > h2 {
  color: #bb9140;
}
.top_nav {
  display: flex;
  justify-content: flex-end;
}
.top_middle_dash {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 4%;
  margin-top: 5%;
  padding: 4%;
  background-color: #f8f9fa;
  border-radius: 2%;
}
.right_side {
  height: 100%;
  padding: 2%;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  gap: 2%;
}
.upcoming_meetings {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4%;
  padding: 2%;
}
.upcoming_projects {
  background-color: #D4B63E;
  color: white;
  border-radius: 4%;
  text-align: center;
  padding: 2%;
}
.activities {
  background-color: #f8f9fa;
  border-radius: 4%;
  padding: 2%;
}
.activities_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.activities_header>a {
    text-decoration: none;
    color: gray;
  }
.all_activities{
    padding-left: 10%;
}
.all_activities>div>p{
    color: dimgray;
}


/* Meetings Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:white;
}
table.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

td, th {
  border: 1px solid #CEA509;
  text-align: left;
  padding: 8px;
}
th{
  color:white;
  background-color:#CEA509;
}

tr{
  color:black;
}
tr:hover{
  color:white;
  background-color:#DFC04A;
  cursor:pointer;
}

/* dnosiuhsiud */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4%;
  margin-top: 5%;
  padding: 4%;
  border-radius: 2%;
}
div>.Projects{
  background-color: black;
  color:white;
}
div>.Leave{
  background-color: black;
  color:white;
}
div>.Meetings{
  background-color: black;
  color:white;
}
.project{
  background-color: black;
  color:white;
  text-align: center;
  padding:3%;
}
.project:hover{
  transition:ease-in;
  box-shadow: 5px 5px #DFC04A;
  cursor:pointer;
}
.project>ul{
  text-align:center;
}
.project>h4{
  text-align:center;
}
.project>h2{
  color:#DFC04A;
}